.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

#themecolors .selector,
.cursor {
    cursor: pointer;
}

#google-btn {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.img-avatar {
    height: 240px;
    width: 200px;
    padding: 10px;
    align-content: center;
}

.w100 {
    width: 100px;
}

.w410 {
    width: 140px;
}

.avatar {
    border-radius: 100%;
    width: 30px;
}

.oculto {
    display: none;
}

.fondo-modal-imagen {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}